<nav class="navbar navbar-expand-lg bc-white bbottom">
  <div class="header">

    <a class="navbar-brand" href="#" style="padding-top: 8px;">
      <img class="d-inline-block" src="../../../z-assemblers/assets/logo/logo.svg" alt="" width="48">
    </a>

    <div class="d-flex" style="float: right; margin-top: 15px;">
      <div class="navbar-nav">
        <a class="nav-link" style="color: #47556e;" href="index.html" data-bs-toggle="tooltip"
          data-bs-placement="bottom" title="Home"><i class="las la-campground"
            style="font-size: 32px; color: #47556e;"></i></a>
        <a class="nav-link" style="color: #47556e;" href="content-navigator.html" data-bs-toggle="tooltip"
          data-bs-placement="bottom" title="Content Navigator"><i class="las la-compass"
            style="font-size: 32px; color: #47556e;"></i></a>
		<!--
        <a class="nav-link" style="color: #47556e;" href="curriculum-navigator.html" data-bs-toggle="tooltip"
          data-bs-placement="bottom" title="Curriculum Navigator"><i class="las la-hiking"
            style="font-size: 32px; color: #47556e;"></i></a>
        <a class="nav-link" style="color: #47556e;" href="progress.html" data-bs-toggle="tooltip"
          data-bs-placement="bottom" title="Progress Tracker"><i class="las la-mountain"
            style="font-size: 32px; color: #47556e;"></i></a>
        <a class="nav-link" style="color: #47556e;" href="search.html" data-bs-toggle="tooltip"
          data-bs-placement="bottom" title="Search for Content"><i class="las la-search"
            style="font-size: 32px; color: #47556e;"></i></a>
        <a class="nav-link" style="color: #47556e;" href="curriculum-manager.html" data-bs-toggle="tooltip"
          data-bs-placement="bottom" title="Curriculum Manager"><i class="las la-map-marked-alt"
            style="font-size: 32px; color: #47556e;"></i></a>
        <a class="nav-link" style="color: #47556e;" href="https://github.com/UN-AVT" data-bs-toggle="tooltip"
          data-bs-placement="bottom" title="Contribute"><i class="lab la-github"
            style="font-size: 32px; color: #47556e;"></i></a>
		-->
      </div>
    </div>

  </div>
</nav>